<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 3px solid #f1f1f1;}
  
  input[type=userid], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .submit {
    color: white;
  }
  
  .cancelbtn {
    color: white;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .container {
    padding: 16px;
  }
  
  span.pwd {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.pwd {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  </style>
  
  {% include 'header.html' %}
  <body>	
    <h3>User Login</h3>
    <form action="{{ url_for('login') }}" method="post">
      {% if mesage is defined and mesage %}
        <div class="alert alert-warning">{{ mesage }}</div>
      {% endif %}
      <div class="container">
        <label for="userid">User ID:</label>
        <input type="userid"  id="userid" name="userid" placeholder="Enter User ID" name="userid" required>
  
        <label for="pwd">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" name="pwd" required>
        
        <button type="submit" class="submit"><b>Login</b></button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div> 
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn"><b>Cancel</b></button>
        <span class="pwd"><a href="#">Forgot password?</a></span>
        <span class="create-account">Need an account? <a href="{{ url_for('create_account') }}">Sign Up</a></span>
      </div>
    </form>   
      <hr>              
    </body>
  </html>